<div>
    <div class="header header-style content-margin">
      <h4 class="title text-center text-light">{{descriptionAction}} candidato</h4>
    </div>
    <div class="content" class="content-style">
      <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Nome</label>
              <input required [(ngModel)]="candidate.name" maxlength="20" name="name" #name="ngModel" class="form-control" placeholder="digite o nome"/>
            </div>
          </div>

          <div class="col-8">
            <div class="form-group">
              <label>Último nome</label>
              <input required [(ngModel)]="candidate.lastName" maxlength="50" name="lastName" #name="ngModel" class="form-control" placeholder="digite o sobrenome">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Sexo</label>
              <select required class="form-control" [(ngModel)]="candidate.genderCodigo" name="genderCodigo" #name="ngModel">
                <option [ngValue]="0" disabled selected>-- Selecione --</option>
                <option *ngFor="let gender of genderService.list" [value]="gender.codigo">{{gender.description}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col d-sm-inline-flex flex-sm-row-reverse">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">
                Salvar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>
