CaptaTecnologia/CaptaTecnologia.Data/obj/
CaptaTecnologia/CaptaTecnologia.Domain/obj/
CaptaTecnologia/CaptaTecnologia.WebApi/bin/
CaptaTecnologia/CaptaTecnologia.WebApi/obj/
CaptaTecnologia/CaptaTecnologia.Domain/bin/
CaptaTecnologia/CaptaTecnologia.Data/bin/
